body {
    background-image: url("bg.jpg");
    background-repeat:repeat-x;

    background-size: cover;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

p { 

	text-align: center;
	text-shadow: 1px 1px white;
	font-family:"futura";
	font-style:italic;
	font-style:bold;
}

h1{
	text-align: center;
	text-shadow: 1px 1px 3px black;
	text-decoration:none;
}

a{
	color:black;
	text-decoration:none;
}

h1 a{
	text-decoration: none;

}





a{
	color:black;
}

a:visited{ 
	text-decoration: none; color:black;
 }

a:hover{ 
	text-decoration: underline; color:#337ec3; 
}

a:focus{ 
	text-decoration: underline; color:#337ec3; 
}

a:hover, a:active{ 
	text-decoration: underline; color:#337ec3 
}

ul{
	list-style-type:none;

}

a.logo{
	color:#337ec3;
	font-family:"futura";
	
	text-decoration:none;

}

a.resdown{
	text-decoration:underline; 

}
.center {
    margin-left:auto;
    margin-right:auto;
    width:800px;
}
label{
	font-family:"futura";
	font-style:italic;

}

